.mainContainer {
    height: 100dvh;
    background-image: url("/eyes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    position: relative;
    display: flex;
}

.mainContainer::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
}

.mainContainer > * {
    position: relative;
    z-index: 2;
}

.inRoomWrapper { 
    position: relative;
    width: 20%;
    overflow: hidden;
}

.contentWrapper {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    padding: 0 .5rem;
}

.welcomeBox{
    height: max-content;
    padding: .2rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(6, 105, 105);
}

.welcomeBox p{
    color: rgb(247, 6, 6);
}

.welcomeBox p span{
    color: #fcfbfb;
}

.chatbody {
    position: relative;
    height: 100%;
    overflow: hidden;

}

.scrollWrapper {
    height: 100%;
}

.msgContainer {
    display: flex;
    padding: 10px;
    margin: 5px 0; 
    border-radius: 8px;
    max-width: 100%;
    flex-direction: column;
    word-wrap: break-word; 
    width: 100%;
}

.you .messageWrapper {
    overflow-wrap: break-word;
    background-color: lightgreen;
    align-self: flex-end;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    max-width: 40%;
    height: max-content;
    font-size: 1.2rem;
    line-height: 1.5rem;
}


.other .messageWrapper{
    overflow-wrap: break-word;
    background-color: darkblue;
    height: max-content;
    max-width: 40%;
    align-self: flex-start;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}


.you .messageMeta{
    display: flex;
    column-gap: .5rem;
    justify-content: flex-end;
    color:  #d00000;
}

.other .messageMeta{
    display: flex;
    column-gap: .5rem;
    justify-content: flex-start;
    color: #b9d6f2;
}

.chatfooter{
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-columns: 90% 1fr;
    align-self: center;
    justify-self: center;
}

.chatfooter input {
    width: 99%; 
    height: 75%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    align-self: center;
    margin-top: .2rem;
}

.bttn{
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
    cursor: pointer;
    display: flex;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 300ms ease-in-out;
}

.bttn:hover{
    background-color: green;
    border: none;
}

.sendIcon {
    transform: translateX(0);
}

.iconSlide {
    animation: bttnSlide 300ms linear forwards;
}

@keyframes bttnSlide {
    0% {transform: translateX(0);}
    100% {transform: translateX(.5rem);}
}

.iconSlideBack {
    animation: slideBack 300ms linear forwards ;
}

@keyframes slideBack {
    0% {transform: translateX(.5rem);}
    100% {transform: translateX(0);}
}


.adminStyle{
    background-color: lightblue;
}

.textInputWrapper{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 0 .5rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: white;
}

.customPicker {
    position: absolute;
    left: 35%;
    bottom: 6%;
}

.iconButtonWrapper{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton{
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
}

.iconBttn{
    cursor: pointer;
    color: tan;
    font-size: 1.5rem;
}

.exitIcon{
    position: absolute;
    right: 2rem;
    color: white;
    top: 1.5rem;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.exitIcon:hover{
    color: rgba(245, 14, 14, 0.5);
    transform: scale(1.5);
}

/* rgba(245, 14, 14, 0.5) */